<div class="row" data-ng-show="hasPermission('20')">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <!--        <div class="dashboard-stat purple">
                    <div class="visual">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <div class="details">
                        <div class="number">{{u.channels}}</div>
                        <div class="desc">Channels</div>
                    </div>
                </div>-->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-mobile"></i>
            </div>
            <div class="details">
                <div class="number">{{smsdata.five}}</div>
                <div class="desc">55999</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-mobile"></i>
            </div>
            <div class="details">
                <div class="number">{{smsdata.seven}}</div>
                <div class="desc">7827</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <!--        <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="icon-bar-chart"></i>
                    </div>
                    <div class="details">
                        <div class="number">{{u.permissions}}</div>
                        <div class="desc">Permissions</div>
                    </div>
                </div>-->
    </div>
</div>
<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-6">
        <div class="clearfix" data-toggle="buttons">
            <button id ="today" class="btn {{p.tcolor}}" ng-click="getSMSByRangeType('TODAY')">Today</button>
            <!--            <button id="yesterday" class="btn {{p.yestcolor}}" ng-click="getDashboardDataByRangeType('YESTERDAY')">Yesterday</button>-->
            <button id="thisweek" class="btn {{p.wcolor}}" ng-click="getSMSByRangeType('THIS_WEEK')">This Week</button>
            <button id="thismonth" class="btn {{p.mcolor}}" ng-click="getSMSByRangeType('THIS_MONTH')">This Month</button>
            <button id="thisyear" class="btn {{p.ycolor}}" ng-click="getSMSByRangeType('THIS_YEAR')">This Year</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input type="date" class="form-control" ng-model="p.from" tooltip="From Date"/>
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" ng-model="p.to" tooltip="To Date"/>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="getSMSData()"><i class="icon-search"></i> Find By Range</button>
            </form>
        </div>
    </div>  
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-credit-card"></i> Track SMS Only
                </div>
                <div class="actions">
<!--                    <button type="submit" class="btn btn-primary" ng-click="downloadData()" data-ng-show="hasPermission('19')"><i class="icon-cloud-download"  ></i> Download</button>-->
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="dataTables_length" id="sample_2_length">
                                <label>Show 
                                    <select class="form-control input-xsmall input-inline select2-offscreen" tabindex="-1" title="" ng-model="p.size" ng-change="getSMSByPageSize()">
                                        <option value="10">10</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select> entries
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="pull-right">Search: <input type="search" class="form-control input-small input-inline" placeholder=""></label>
                        </div>
                    </div>
<!--                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <paging
                                class="small"
                                page="smsdata.page" 
                                page-size="p.size" 
                                total="smsdata.total"
                                pg-href="{{pgHref}}"
                                adjacent="{{adjacent}}"
                                dots="{{dots}}"
                                hide-if-empty="{{hideIfEmpty}}"
                                show-prev-next="{{showPrevNext}}"
                                show-first-last="{{showFirstLast}}"
                                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
                            </paging>   
                                                        <button type="button" class="btn btn-primary" ng-click="previousPage()"><i class="fa fa-chevron-left"></i></button>
                                                        <input type="number" class="form-control input-xsmall input-inline" placeholder="" ng-model="p.page" ng-enter="nextPage()">
                                                        <button type="button" class="btn btn-primary" ng-click="nextPage()"><i class="fa fa-chevron-right"></i></button>

                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="pull-right">
                                Showing page {{smsdata.page}} of {{smsdata.nosOfPages}} of {{smsdata.total}} entries.
                            </div> 
                        </div>
                    </div>-->
                </div>
                <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                    <div class="table-scrollable">
                        <table cellpadding="0" cellspacing="0" width="100%" class="table table-striped table-bordered table-hover table-condensed dataTable no-footer">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>MSISDN</th>
                                    <th>Short Code</th>
                                    <th>Incoming Message</th>
                                    <th>Incoming Date</th>
                                    <th>Outgoing Message</th>
                                    <th>Outgoing Date</th>
                                    <th style="width: 150px;">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="s in smsdata.data">
                                    <td class="">{{$index + 1}}</td>
                                    <td class="">{{s.msisdn}}</td>
                                    <td class="">{{s.scode}}</td>
                                    <td class="">{{s.incoming}}</td>
                                    <td class="">{{s.incomingDate| date:'EEEE, MMMM d, yyyy h:mm a'}}</td>
                                    <td class="">{{s.outgoing}}</td>
                                    <td class="">{{s.outgoingDate| date:'EEEE, MMMM d, yyyy h:mm a'}}</td>
                                    <td >
                                        <button class="btn btn-xs btn-warning" data-ng-click="viewStaffDetails(s)" tooltip="View Staff Detail"><i class="fa fa-user"></i></button>
                                        <button class="btn btn-xs btn-primary" data-ng-click="resendSMS(s)" data-ng-show="hasPermission('1')" tooltip="Resend SMS Response"><i class="fa fa-envelope-o"></i></button>
                                        <button class="btn btn-xs btn-warning" data-ng-click="reinitiateSMS(s)" data-ng-show="hasPermission('2')" tooltip="Reinitiate Action"><i class="fa fa-laptop"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div></div>
            </div></div>
    </div>
</div>


<script type="text/ng-template" id="download.html">
    <div class="modal-dialog" tabindex="-1" style="z-index: 9999;">
    <div class="modal-content">
    <div class="modal-header">
    <h3 class="modal-title">Download data.</h3>    
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="col-md-12">
    <div class="form-body">
    <form class="form-inline" role="form" action="web/portal/downloadSMSData" method="post">
    <div class="form-group">
    <input type="date" class="form-control" placeholder="Start Date" ng-model="w.from" tooltip="Start Date" id="start" name="start">
    </div>
    <div class="form-group">
    <input type="date" class="form-control" placeholder="End Date" ng-model="w.to" tooltip="End Date" id="end" name="end">
    </div>
    <button class="btn btn-primary" type="submit"><i class="icon-cloud-download"></i> Download</button>
    </form>
    </div>
    </div>
    </div>
    </div>
</script>

<script type="text/ng-template" id="reinitiateSMS.html">
    <div class="modal-dialog" tabindex="-1" style="z-index: 9999;">
    <div class="modal-content">
    <div class="modal-header">
    <h3 class="modal-title">Re-initiate SMS Command?</h3>    
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="col-md-12">
    <div class="form-horizontal">
    <div class="form-body">
    <ul class="list-group">
    <li class="list-group-item">
    Are you sure that you want to <b>re-initiate</b> the command with the following details?
    </li>
    <li class="list-group-item">
    MSISDN : <b>{{p.msisdn}}</b> Command <b>{{p.incoming}}</b> sent on <b>{{p.incomingDate| date:'EEEE, MMMM d, yyyy h:mm a'}}</b>.
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" type="button" data-ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger" type="button" data-ng-click="reintiateCommand()">Re-initiate command</button>
    </div>
</script>

<script type="text/ng-template" id="resendSMS.html">
    <div class="modal-dialog" tabindex="-1" style="z-index: 9999;">
    <div class="modal-content">
    <div class="modal-header">
    <h3 class="modal-title">Resend SMS response</h3>    
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="col-md-12">
    <div class="form-horizontal">
    <div class="form-body">
    <ul class="list-group">
    <li class="list-group-item">
    Are you sure that you want to <b>resend</b> the response of the message with the following details?
    </li>
    <li class="list-group-item">
    MSISDN : <b>{{p.msisdn}}</b> Command <b>{{p.incoming}}</b> sent on <b>{{p.incomingDate| date:'EEEE, MMMM d, yyyy h:mm a'}}</b>.
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" type="button" data-ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger" type="button" data-ng-click="resendResponse()">Resend SMS</button>
    </div>
</script>

<script type="text/ng-template" id="viewStaffDetails.html">
<div class="modal-dialog" tabindex="-1" style="z-index: 9999;">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Staff Details</h3>    
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <ul class="list-group" ng-repeat="x in w.data">
                                <li class="list-group-item">
                                    Staff ID : <b>{{x.staff_id}}</b>
                                </li>
                                <li class="list-group-item">
                                    Staff Code : <b>{{x.staff_code}}</b>
                                </li>
                                <li class="list-group-item">
                                    Full Name : <b>{{x.name}}</b>
                                </li>
                                <li class="list-group-item">
                                    Phone : <b>{{x.phone}}</b>
                                </li>
                                <li class="list-group-item">
                                    Department : <b>{{x.department}}</b> 
                                </li>
                                <li class="list-group-item">
                                    Profile Link : <b>{{x.profile_link}}</b>
                                </li>
                                <li class="list-group-item">
                                    Image Link : <b>{{x.image_link}}</b>
                                </li>
                                <li class="list-group-item">
                                    Job title : <b>{{x.job_title}}</b>
                                </li>
                                <li class="list-group-item">
                                    District : <b>{{x.districts}}</b>
                                </li>
                                <li class="list-group-item">
                                    Status : <b>{{x.status}}</b> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </script>