<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gears"></i> System Settings
                </div>
                <div class="actions">

                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button  class="btn green btn-xs" data-ng-click="open()" data-ng-show="hasPermission('15')">
                                    Add New <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 
                <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                    <div class="table-scrollable">
                        <table cellpadding="0" cellspacing="0" width="100%" class="table table-striped table-bordered table-hover table-condensed dataTable no-footer">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Label</th>
                                    <th>Identifier</th>
                                    <th>Current Value</th>
                                    <th>Last Value</th>
                                    <th>Network Provider</th>
                                    <th>Created</th>
                                    <th>Last Modified</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="s in p.settings">
                                    <td class="">{{$index + 1}}</td>
                                    <td class="">{{s.label}}</td>
                                    <td class="">{{s.identifier}}</td>
                                    <td class="">{{s.currentValue}}</td>
                                    <td class="">{{s.lastValue}}</td>
                                    <td class="">{{s.settingsSection}}</td>
                                    <td class="">{{s.createDate| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td class="">{{s.modifiedDate| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td class="">
                                        <button class="btn btn-xs btn-primary" data-ng-click="edit(s)" data-ng-show="hasPermission('16')"><i class="fa fa-edit"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div></div>
            </div></div>
    </div>
</div>
<script type="text/ng-template" id="settings.html">
<div class="modal-dialog" tabindex="-1" style="z-index: 9999;">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">System Settings</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Label</label>
                                <div class="col-md-9">
                                    <input type="text" data-ng-model="p.label" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Identifier</label>
                                <div class="col-md-9">
                                    <input type="text" data-ng-model="p.identifier" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Value</label>
                                <div class="col-md-9">
                                    <input type="text" data-ng-model="p.currentValue" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Description</label>
                                <div class="col-md-9">
                                    <textarea type="text" data-ng-model="p.description" class="form-control input-sm" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Choose Provider</label>
                                    <div class="col-md-9">
                                        <select class="form-control" data-ng-model="p.settingsSection" required>
                                            <option value="" data-ng-selected="true">Change Network Provider</option>
                                            <option  data-ng-repeat="role in w.networkProviders" data-ng-value="role.value">{{role.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" data-ng-click="createSetting()" data-ng-show="w.showCreate">Create Setting</button>
                            <button class="btn btn-primary" type="button" data-ng-click="editSetting()" data-ng-show="w.showEdit">Update Setting</button>
                        </div>
                    </div>
                </div>
</script>